 * {
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.container-fluid {
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #fff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 1.5rem;
  font-size: 20px;
  border-bottom: 1px solid gray;
}

header h4:hover {
  color: #0080ff;
  transform: scale(1.5);
  padding-left: 3rem;
  transition:  1s;
}
/* From Uiverse.io by vinodjangid07 */ 
.InputContainer {
  width: 450px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(123, 200, 322, 0.3);
}

.input {
  width: 440px;
  height: 30px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}


header nav a {
  text-decoration: none;
  color: #000;
  padding-right: 2rem;
}

.learn-row {
  margin-top: 20rem;
  text-align: center;

}



.learn-to-code h1 {
  font-size: 5rem;
  font-family: "Rubik Dirt", system-ui;
}

.learn-to-code h1:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.learn-to-code button {
  margin-top: 5rem;
}
.how-learning {
  margin-top: 25rem;
  font-size: 1rem;
}

.how-learning div {
  width: 80%;
  margin: auto;
  font-family: "Bitter", serif;

}

.how-learning img {
  display: block;
  margin: 10px auto;
  width: 100%;
}


  .products {
  width: 90%;
  margin: auto;
  margin-top: 10rem;
}
.cards {
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}

.cards div {
  background-color: lightgray;
}

.cards div:hover {
  background-color: #fff;
  transform: scale(1.05);
  transition: transform 0.3s ease;
}


.reviews {
  width: 90%;
  margin: 8rem auto;
  display: flex;
}

/* From Uiverse.io by seyed-mohsen-mousavi */ 
/* level settings 👇 */

.slider {
  /* slider */
  --slider-width: 100%;
  --slider-height: 50px;
  --slider-bg: rgb(82, 82, 82);
  --slider-border-radius: 9px;
  /* level */
  --level-color: #fff;
  --level-transition-duration: 0.1s;
  /* icon */
  --icon-margin: 15px;
  --icon-color: var(--slider-bg);
  --icon-size: 25px;
}

.slider {
  position: relative;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -4rem;
}

.slider .volume {
  display: inline-block;
  vertical-align: top;
  margin-right: var(--icon-margin);
  color: var(--icon-color);
  width: var(--icon-size);
  height: auto;
  position: absolute;
  left: 0;
  pointer-events: none;
}

.slider .level {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--slider-width);
  height: var(--slider-height);
  background: var(--slider-bg);
  overflow: hidden;
  border-radius: var(--slider-border-radius);
  -webkit-transition: height var(--level-transition-duration);
  -o-transition: height var(--level-transition-duration);
  transition: height var(--level-transition-duration);
  cursor: inherit;
  transform: rotate(270deg);
}

.slider .level::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  -webkit-box-shadow: -200px 0 0 200px var(--level-color);
  box-shadow: -200px 0 0 200px var(--level-color);
}
.slider .level::-moz-range-thumb {
  width: 0;
  height: 0;
  border-radius: 0;
  border: none;
  box-shadow: -200px 0 0 200px var(--level-color);
}
/* From Uiverse.io by mymiamo */ 
.previs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.cart {
  width: 400px;
  padding: 20px;
  border: 1px solid #0d1117;
  border-radius: 10px;
  background-color: #000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  position: relative;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.cart:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.mac-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.mac-header span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.mac-header .red {
  background-color: #ff5f57;
}

.mac-header .yellow {
  background-color: #ffbd2e;
}

.mac-header .green {
  background-color: #28c941;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
  color: #e6e6ef;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.cart .card-tag {
  display: inline-block;
  font-size: 10px;
  border-radius: 5px;
  background-color: #0d1117;
  padding: 4px;
  margin-block-end: 12px;
  color: #dcdcdc;
}
.code-editor {
  background-color: #0d1117;
  color: #dcdcdc;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    monospace;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 5px;
  padding: 15px;
  overflow: auto;
  height: 150px;
  border: 1px solid #333;
}

.code-editor::-webkit-scrollbar {
  width: 8px;
}

.code-editor::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

.code-editor pre code {
  white-space: pre-wrap;
  display: block;
}



.the-end-text {
  width: 80%;
  margin: auto;

}

.the-end-text:hover {
  transform: scale(1.1);
  transition: transform 0.7s ease;
}

.footer {
  width: 98%;
  height: 15rem;
  margin: auto;
  margin-top: 5rem;
  background-color: lightgray;
  border-radius: 1rem 1rem 0 0;
}

.links-icon {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
/* From Uiverse.io by Smit-Prajapati */ 
.parents {
  display: flex;
  justify-content: space-around;
  margin: 4rem 0;
}
.parent {
  width: 290px;
  height: 300px;
  perspective: 1000px;
}

.card {
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(0, 255, 214) 0%, rgb(8, 226, 96) 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: rgba(5, 71, 17, 0) 40px 50px 25px -40px, rgba(5, 71, 17, 0.2) 0px 25px 25px -5px;
}

.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.349) 0%, rgba(255, 255, 255, 0.815) 100%);
  /* -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); */
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 0.5s ease-in-out;
}

.content {
  padding: 100px 60px 0px 30px;
  transform: translate3d(0, 0, 26px);
}

.content .title {
  display: block;
  color: #00894d;
  font-weight: 900;
  font-size: 20px;
}

.content .text {
  display: block;
  color: rgba(0, 137, 78, 0.7647058824);
  font-size: 15px;
  margin-top: 20px;
}

.bottom {
  padding: 10px 12px;
  transform-style: preserve-3d;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translate3d(0, 0, 26px);
}

.bottom .view-more {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
  transition: all 0.2s ease-in-out;
}

.bottom .view-more:hover {
  transform: translate3d(0, 0, 10px);
}

.bottom .view-more .view-more-button {
  background: none;
  border: none;
  color: #00c37b;
  font-weight: bolder;
  font-size: 12px;
}

.bottom .view-more .svg {
  fill: none;
  stroke: #00c37b;
  stroke-width: 3px;
  max-height: 15px;
}

.bottom .social-buttons-container {
  display: flex;
  gap: 10px;
  transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
  width: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  box-shadow: rgba(5, 71, 17, 0.5) 0px 7px 5px -5px;
}

.bottom .social-buttons-container .social-button:first-child {
  transition: transform 0.2s ease-in-out 0.4s, box-shadow 0.2s ease-in-out 0.4s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
  transition: transform 0.2s ease-in-out 0.6s, box-shadow 0.2s ease-in-out 0.6s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
  transition: transform 0.2s ease-in-out 0.8s, box-shadow 0.2s ease-in-out 0.8s;
}

.bottom .social-buttons-container .social-button .svg {
  width: 15px;
  fill: #00894d;
}

.bottom .social-buttons-container .social-button:hover {
  background: black;
}

.bottom .social-buttons-container .social-button:hover .svg {
  fill: white;
}

.bottom .social-buttons-container .social-button:active {
  background: rgb(255, 234, 0);
}

.bottom .social-buttons-container .social-button:active .svg {
  fill: black;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
}

.logo .circle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 249, 203, 0.2);
  transition: all 0.5s ease-in-out;
}

.logo .circle1 {
  width: 170px;
  transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}

.logo .circle2 {
  width: 140px;
  transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition-delay: 0.4s;
}

.logo .circle3 {
  width: 110px;
  transform: translate3d(0, 0, 60px);
  top: 17px;
  right: 17px;
  transition-delay: 0.8s;
}

.logo .circle4 {
  width: 80px;
  transform: translate3d(0, 0, 80px);
  top: 23px;
  right: 23px;
  transition-delay: 1.2s;
}

.logo .circle5 {
  width: 50px;
  transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: grid;
  place-content: center;
  transition-delay: 1.6s;
}

.logo .circle5 .svg {
  width: 20px;
  fill: white;
}

.parent:hover .card {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow: rgba(5, 71, 17, 0.3) 30px 50px 25px -40px, rgba(5, 71, 17, 0.1) 0px 25px 30px 0px;
}

.parent:hover .card .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(5, 71, 17, 0.2) -5px 20px 10px 0px;
}

.parent:hover .card .logo .circle2 {
  transform: translate3d(0, 0, 60px);
}

.parent:hover .card .logo .circle3 {
  transform: translate3d(0, 0, 80px);
}

.parent:hover .card .logo .circle4 {
  transform: translate3d(0, 0, 100px);
}

.parent:hover .card .logo .circle5 {
  transform: translate3d(0, 0, 120px);
}
/* From Uiverse.io by whoisyourdeadie */ 
.matrix-container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  margin-top: -3rem;
  opacity: 20%;
}

.matrix-pattern {
  position: relative;
  width: 1000px;
  height: 100%;
  flex-shrink: 0;
}

.matrix-column {
  position: absolute;
  top: -100%;
  width: 20px;
  height: 100%;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  animation: fall linear infinite;
  white-space: nowrap;
}

.matrix-column::before {
  content: "アイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨラリルレロワヲンABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 5%,
    #00ff41 10%,
    #00ff41 20%,
    #00dd33 30%,
    #00bb22 40%,
    #009911 50%,
    #007700 60%,
    #005500 70%,
    #003300 80%,
    rgba(0, 255, 65, 0.5) 90%,
    transparent 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  writing-mode: vertical-lr;
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.matrix-column:nth-child(1) {
  left: 0px;
  animation-delay: -2.5s;
  animation-duration: 3s;
}
.matrix-column:nth-child(2) {
  left: 25px;
  animation-delay: -3.2s;
  animation-duration: 4s;
}
.matrix-column:nth-child(3) {
  left: 50px;
  animation-delay: -1.8s;
  animation-duration: 2.5s;
}
.matrix-column:nth-child(4) {
  left: 75px;
  animation-delay: -2.9s;
  animation-duration: 3.5s;
}
.matrix-column:nth-child(5) {
  left: 100px;
  animation-delay: -1.5s;
  animation-duration: 3s;
}
.matrix-column:nth-child(6) {
  left: 125px;
  animation-delay: -3.8s;
  animation-duration: 4.5s;
}
.matrix-column:nth-child(7) {
  left: 150px;
  animation-delay: -2.1s;
  animation-duration: 2.8s;
}
.matrix-column:nth-child(8) {
  left: 175px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}
.matrix-column:nth-child(9) {
  left: 200px;
  animation-delay: -3.4s;
  animation-duration: 3.8s;
}
.matrix-column:nth-child(10) {
  left: 225px;
  animation-delay: -1.9s;
  animation-duration: 2.7s;
}
.matrix-column:nth-child(11) {
  left: 250px;
  animation-delay: -3.6s;
  animation-duration: 4.2s;
}
.matrix-column:nth-child(12) {
  left: 275px;
  animation-delay: -2.3s;
  animation-duration: 3.1s;
}
.matrix-column:nth-child(13) {
  left: 300px;
  animation-delay: -3.1s;
  animation-duration: 3.6s;
}
.matrix-column:nth-child(14) {
  left: 325px;
  animation-delay: -2.6s;
  animation-duration: 2.9s;
}
.matrix-column:nth-child(15) {
  left: 350px;
  animation-delay: -3.7s;
  animation-duration: 4.1s;
}
.matrix-column:nth-child(16) {
  left: 375px;
  animation-delay: -2.8s;
  animation-duration: 3.3s;
}
.matrix-column:nth-child(17) {
  left: 400px;
  animation-delay: -3.3s;
  animation-duration: 3.7s;
}
.matrix-column:nth-child(18) {
  left: 425px;
  animation-delay: -2.2s;
  animation-duration: 2.6s;
}
.matrix-column:nth-child(19) {
  left: 450px;
  animation-delay: -3.9s;
  animation-duration: 4.3s;
}
.matrix-column:nth-child(20) {
  left: 475px;
  animation-delay: -2.4s;
  animation-duration: 3.4s;
}
.matrix-column:nth-child(21) {
  left: 500px;
  animation-delay: -1.7s;
  animation-duration: 2.4s;
}
.matrix-column:nth-child(22) {
  left: 525px;
  animation-delay: -3.5s;
  animation-duration: 3.9s;
}
.matrix-column:nth-child(23) {
  left: 550px;
  animation-delay: -2s;
  animation-duration: 3s;
}
.matrix-column:nth-child(24) {
  left: 575px;
  animation-delay: -4s;
  animation-duration: 4.4s;
}
.matrix-column:nth-child(25) {
  left: 600px;
  animation-delay: -1.6s;
  animation-duration: 2.3s;
}
.matrix-column:nth-child(26) {
  left: 625px;
  animation-delay: -3s;
  animation-duration: 3.5s;
}
.matrix-column:nth-child(27) {
  left: 650px;
  animation-delay: -3.8s;
  animation-duration: 4s;
}
.matrix-column:nth-child(28) {
  left: 675px;
  animation-delay: -2.5s;
  animation-duration: 2.8s;
}
.matrix-column:nth-child(29) {
  left: 700px;
  animation-delay: -3.2s;
  animation-duration: 3.6s;
}
.matrix-column:nth-child(30) {
  left: 725px;
  animation-delay: -2.7s;
  animation-duration: 3.2s;
}
.matrix-column:nth-child(31) {
  left: 750px;
  animation-delay: -1.8s;
  animation-duration: 2.7s;
}
.matrix-column:nth-child(32) {
  left: 775px;
  animation-delay: -3.6s;
  animation-duration: 4.1s;
}
.matrix-column:nth-child(33) {
  left: 800px;
  animation-delay: -2.1s;
  animation-duration: 3.1s;
}
.matrix-column:nth-child(34) {
  left: 825px;
  animation-delay: -3.4s;
  animation-duration: 3.7s;
}
.matrix-column:nth-child(35) {
  left: 850px;
  animation-delay: -2.8s;
  animation-duration: 2.9s;
}
.matrix-column:nth-child(36) {
  left: 875px;
  animation-delay: -3.7s;
  animation-duration: 4.2s;
}
.matrix-column:nth-child(37) {
  left: 900px;
  animation-delay: -2.3s;
  animation-duration: 3.3s;
}
.matrix-column:nth-child(38) {
  left: 925px;
  animation-delay: -1.9s;
  animation-duration: 2.5s;
}
.matrix-column:nth-child(39) {
  left: 950px;
  animation-delay: -3.5s;
  animation-duration: 3.8s;
}
.matrix-column:nth-child(40) {
  left: 975px;
  animation-delay: -2.6s;
  animation-duration: 3.4s;
}

.matrix-column:nth-child(odd)::before {
  content: "アイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨラリルレロワヲン123456789";
}

.matrix-column:nth-child(even)::before {
  content: "ガギグゲゴザジズゼゾダヂヅデドバビブベボパピプペポヴァィゥェォャュョッABCDEFGHIJKLMNOPQRSTUVWXYZ";
}

.matrix-column:nth-child(3n)::before {
  content: "アカサタナハマヤラワイキシチニヒミリウクスツヌフムユルエケセテネヘメレオコソトノホモヨロヲン0987654321";
}

.matrix-column:nth-child(4n)::before {
  content: "ンヲロヨモホノトソコオレメヘネテセケエルユムフヌツスクウリミヒニチシキイワラヤマハナタサカア";
}

.matrix-column:nth-child(5n)::before {
  content: "ガザダバパギジヂビピグズヅブプゲゼデベペゴゾドボポヴァィゥェォャュョッ!@#$%^&*()_+-=[]{}|;:,.<>?";
}

@keyframes fall {
  0% {
    transform: translateY(-10%);
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .matrix-column {
    font-size: 14px;
    line-height: 16px;
    width: 18px;
  }
}

@media (max-width: 480px) {
  .matrix-column {
    font-size: 12px;
    line-height: 14px;
    width: 15px;
  }
}

/* From Uiverse.io by Priyanshu02020 */ 
#heart {
  display: none;
}

.like-button {
  position: relative;
  cursor: pointer;
  display: flex;
  height: 48px;
  width: 136px;
  border-radius: 16px;
  border: none;
  background-color: #1d1d1d;
  overflow: hidden;
  box-shadow:
    inset -2px -2px 5px rgba(255, 255, 255, 0.2),
    inset 2px 2px 5px rgba(0, 0, 0, 0.1),
    4px 4px 10px rgba(0, 0, 0, 0.4),
    -2px -2px 8px rgba(255, 255, 255, 0.1);
}

.like {
  width: 70%;
  height: 100%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-evenly;
}

.like-icon {
  fill: #505050;
  height: 28px;
  width: 28px;
}

.like-text {
  color: #fcfcfc;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.like-count {
  position: absolute;
  right: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #717070;
  font-size: 16px;
  border-left: 2px solid #4e4e4e;
  transition: all 0.5s ease-out;
}

.like-count.two {
  transform: translateY(40px);
}

.on:checked ~ .like .like-icon {
  fill: #fc4e4e;
  animation: enlarge 0.2s ease-out 1;
  transition: all 0.2s ease-out;
}

.on:checked ~ .like-count.two {
  transform: translateX(0);
  color: #fcfcfc;
}

.on:checked ~ .like-count.one {
  transform: translateY(-40px);
}

@keyframes enlarge {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.2);
  }
}

.like-email {
  display: flex;
  flex-direction: row-reverse;
  gap: 22rem;
  padding: 0 20px;
  align-items: center;
}

/* From Uiverse.io by gharsh11032000 */ 
.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: #e81cff;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}





.footer a {
  text-decoration: none;
}


.link a {
  padding-top: 2rem;
  padding: 2rem;
  color: #000;
}

  

@media (max-width: 768px) {
  

  .learn-to-code h1 {
    font-size: 3rem; /* поменьше заголовок */
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .cards div {
    margin-bottom: 2rem;
  }

  .how-learning div,
  .the-end-text,
  .reviews {
    width: 100%;
  }

  .footer {
    height: auto;
    padding: 2rem 1rem;
  }

  .links-icon {
    flex-direction: column;
    gap: 1rem;
  }

  .link {
    text-align: center;
  }
}
